.bann{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 40px 70px 0px 80px; 
}
 .banner-content{ 
    width: 720px;

}

.banner-statement{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.banner-details{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    padding: 20px 45px;
    gap: 10px;
    color: white;
}

.banner-image{
    width: 550px;
    height: 650px;
    
    
}

.section-first{
    text-align: center;
}
.section-first-head{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.section-first-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 400px;
}

.Feture-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 80px 0px 70px;
    
    
}

.Pink-tree{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 15px 20px 0px 20px;
}
.Pink-tree-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 30px 20px 40px 20px;
}
.Pink-tree-2{
    width: 350px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 0px 20px 0px 20px;
    
}

.tree{
    margin-top: 15px;
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.single-banner{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 70px 80px 10px 70px;
    padding: 30px 180px;
    align-items: center;
    text-align: center;
}

.support{
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

.sale-up-to-section{
    display: flex;
    border: 2px solid white
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    
}

.sale-up{
    padding: 100px 30px 0px 30px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.img-sale{
    padding: 30px 0px;
}

.sale-up-details{
    padding-top: 0px;
    width: 594px
}
#clr{
    color: #E55473;

}