
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.bann{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 40px 70px 0px 80px; 
}
 .banner-content{ 
    width: 720px;

}

.banner-statement{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    padding: 20px 45px;
    gap: 10px;
    color: white;
}

.banner-image{
    width: 550px;
    height: 650px;
    
    
}

.section-first{
    text-align: center;
}
.section-first-head{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-first-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 400px;
}

.Feture-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 80px 0px 70px;
    
    
}

.Pink-tree{
    width: 340px;
    height: 425px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 15px 20px 0px 20px;
}
.Pink-tree-1{
    width: 340px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 30px 20px 40px 20px;
}
.Pink-tree-2{
    width: 340px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 0px 20px 0px 20px;
    
}

.tree{
    margin-top: 15px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.single-banner{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 70px 80px 10px 70px;
    padding: 30px 180px;
    align-items: center;
    text-align: center;
}

.support{
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

.sale-up-to-section{
    display: flex;
    border: 2px solid white;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: space-between;
    text-align: center;
    margin-top: 70px;
    padding: 0px 70px 0px 70px;
    
}

.sale-up{
    padding: 100px 30px 0px 30px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.img-sale{
    padding: 30px 0px;
    margin-left: 100px;
}

.sale-up-details{
    padding-top: 0px;
    width: 700px
}
#clr{
    color: #E55473;

}

.insta-section{
    margin-top: 30px;
    text-align: center;
    margin: auto;
}

.insta-tittle{ 
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
}
.insta-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.insta-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.insta-img img{
    width: 270px;
    height: 320px;
}

.subscribe-section {
    border-radius: 8px;
    text-align: center;
    align-items: center;

}
    

.input-box input{
    width: 450px;
    height: 53px;
    border-radius: 8px;
    border: none;
}




.subscribe-tittle{
    text-align: center;
    padding-top: 80px;
}


.emai-subs{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.subscribe-tittle{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 0px;
}

.s-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.foot{
    margin-top: 80px;
    text-align: center;
    background-color: #111010;
    color: white;
    padding: 40px;

}

.heading-1{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.h-details{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

#shop{
    color: white;
}

.p-bottom{
    padding-top: 20px;
}




